{% extends "_layout" %}
{% set bodyClass = "underside jobber" %}

{% block content %}

<div class="row">
    <figure class="emblem-heading">
        <h1><strong>Portefølje</strong></h1>
    </figure>
</div>

<figure class="divider"></figure>

<section class="jobber grid">

    {% for block in portefolje.utvalgteJobber %}

        {% set video = craft.embedder.url(block.video, {max_width:500, max_height:800}) %}

        <article class="effect-one">

          {% set isVideo = video.video_title %}

            {% if isVideo %}
              <img class="lazyload" data-bgset="{{ video.video_highres }}">
            {% else %}

            {% set img = block.bilde.first | default(false) %}

              {% set bilde = craft.imager.transformImage(img, [
                { width: 320 },
                { width: 840 },
                { width: 1680 },
                ], { mode: 'crop', ratio:"16/9" }) %}

                <img class="lazyload" src="{{ craft.imager.base64Pixel(16, 9) }}" data-bgset="{{bilde[0].url}} 400w, {{bilde[1].url}} 767w, {{bilde[2].url}}" alt="{{img.title | default("")}}">

            {% endif %}

            <div class="video">
                {{ video.embed_code }}
            </div>
            <figcaption>

                <a href="{{ block.video }}" target="_blank">
                  <h3>{{block.title}}</h3>
                  <p>{{block.tekstRen}}</p>
                  <span class="icon_play">
                      <?php include "/static/img/icon_play.svg" ?>
                  </span>
                </a>

            </figcaption>
        </article>
    {% endfor %}

</section>

<section class="map_wrapper">
    <div id="map"></div>
</section>

{% endblock %}
