{% extends "_layout" %}
{% set bodyClass = "underside jobber" %}

{% block content %}
<section class="top">

	{% set img = header.toppbilde.first | default(false) %}
	{% set bilde = craft.imager.transformImage(img, [
		{ width: 320 },
		{ width: 840 },
		{ width: 1680 },
		], { mode: 'crop', ratio:"16/9" }) %}

    <div class="top-content lazyload" src="{{ craft.imager.base64Pixel(16, 9) }}" data-bgset="{{bilde[0].url}} 400w, {{bilde[1].url}} 767w, {{bilde[2].url}}">
    </div>
    <figure class="divider"></figure>
</section>

<div class="row">
    <figure class="emblem-heading">
        <h2>Alle<strong> jobber</strong></h2>
    </figure>
</div>

<figure class="divider"></figure>

<section class="jobber grid">
    {% for entry in craft.entries.section('jobber') %}

        {% set video = craft.embedder.url(entry.video, {max_width:500, max_height:800}) %}

        <article class="effect-one">
            <img src="{{ video.video_highres }}">
            <div class="video">
                {{ video.embed_code }}
            </div>
            <figcaption>
                <h3>{{entry.title}}</h3>
                <p>{{entry.tekstRen}}</p>
                <span class="icon_play">
                    <?php include "/static/img/icon_play.svg" ?>
                </span>
            </figcaption>
        </article>
    {% endfor %}

</section>

<section class="map_wrapper">
    <div id="map"></div>
</section>

{% endblock %}
